@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$primary-blue: #022428;
$primary-green: #b69c9f;
$text-main: #e2e8f0;
$text-sub: #94a3b8;

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: $primary-blue;
    color: $text-main;

    max-width: 1280px;
    margin: auto;
}